@model FilmsCatalog.ViewModels.Film.FilmViewModel
@{
    ViewData["Title"] = "Изменить фильм";
}

<h2>@Model.Name (@Model.ProductionYear), @Model.Producer</h2>

<form asp-controller="Film" asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.PosterId)
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-12">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-12">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-12">
            <label asp-for="Producer"></label>
            <input asp-for="Producer" class="form-control">
            <span asp-validation-for="Producer" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-12">
            <label asp-for="ProductionYear"></label>
            <input asp-for="ProductionYear" class="form-control">
            <span asp-validation-for="ProductionYear" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-12">
            <label asp-for="FormPoster"></label>
            <input asp-for="FormPoster" class="form-control" type="file">
            <span asp-validation-for="FormPoster" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col-12">
            <img style="width: 100%;" src="@(Model.Poster?.Path ?? Url.Content("/files/no-image.png"))" />
        </div>
    </div>
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="btn btn-primary">Изменить</button>

        <a asp-action="Index" asp-controller="Film" class="btn btn-outline-primary">Отмена</a>
    </div>
</form>