@model FilmsCatalog.ViewModels.Film.IndexViewModel
@{
    ViewData["Title"] = "Коллекция фильмов";
}

<div class="jumbotron text-center">
    <h2>Фильмы</h2>
    @if (User.Identity.IsAuthenticated) {
        <a class="btn btn-primary btn-lg" asp-action="Create" asp-controller="Film" role="button">Добавить фильм</a>
    }
</div>

@if (Model == null || !Model.Films.Any())
{
    <div>Коллекция пуста:(</div>
}
else
{
    <table class="table table-condensed table-hover">
        @foreach (var film in Model.Films)
        {
            bool IsUserFilm = film.Creator?.UserName == User.Identity.Name;
            <tr style="cursor: pointer;" data-href="@Url.Action("Info", "Film", new { id = film.Id })">
                <td data-type="clickable-row" class="align-middle"><img src="@(film.Poster?.Path ?? Url.Content("/files/no-image.png"))" style="width: 80px;" /></td>
                <td data-type="clickable-row" class="align-middle">@film.Name</td>
                <td data-type="clickable-row" class="align-middle" title="@film.Description">@(film.Description.Length > 100 ? film.Description.Substring(0, 100) + "..." : film.Description)</td>
                <td data-type="clickable-row" class="align-middle">@film.Producer</td>

                @if (User.Identity.IsAuthenticated) {
                    <td data-type="clickable-row" class="align-middle">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            @if (IsUserFilm) { 
                                <a asp-action="Edit" asp-controller="Film" asp-route-id="@film.Id" class="btn btn-outline-primary" role="button" title="Изменить"><i class="fa fa-pencil"></i></a>
                                <a asp-action="ConfirmDelete" asp-controller="Film" asp-route-id="@film.Id" class="btn btn-outline-danger" role="button" title="Удалить"><i class="fa fa-trash"></i></a>
                            }
                        </div>
                    </td>
                }
            </tr>
        }
    </table>

    if(Model.Total > Model.PageSize) { 
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item @(!Model.HasPrev ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", "Film", new { page = Model.CurrentPage - 1})" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                @for (int i = 0; i < Model.PagesCount; i++) { 
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")"><a class="page-link" href="@Url.Action("Index", "Film", new { page = i})">@(i + 1)</a></li>
                }

                <li class="page-item @(!Model.HasNext ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", "Film", new { page = Model.CurrentPage + 1})" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
}
